<%- include('./includes/header') %>
<!--Adding the header content-->
<div class="content">
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#jobPost" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            Post Job
        </a>
    </p>
    <div class="collapse" id="jobPost">
        <div class="card card-body">
            <form action="/job-post" method="POST">
                <div class="mb-3">
                    <label for="Company Name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="" name="companyname" required>
                </div>
                <div class=" mb-3">
                    <label for="jobDesc" class="form-label">Position</label>
                    <input cols="30" rows="10" class="form-control" name="position" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPosition" class="form-label">Job Vacancy</label>
                    <input type="text" class="form-control" id="exampleInputDescription" name="jobVacancy" required>
                </div>
                <div class="mb-3">
                    <label for="CTC" class="form-label">CTC</label>
                    <input type="text" class="form-control" id="CTC" name="CTC" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Vacancy</th>
            <th scope="col">Position</th>
            <th scope="col">CTC</th>
        </tr>
        </thead>
        <tbody>
        <% jobList.forEach(vacancies =>{ %>
            <tr>
                <td><%= vacancies.companyName %></td>
                <td><%= vacancies.jobVacancy %></td>
                <td><%= vacancies.position %></td>
                <td><%= vacancies.ctc %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<!--Adding the footer content-->
<%- include('./includes/footer') %>